.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 570px;
}
.navbar-nav li a{
    margin-left: auto;
    margin-left: 40px;
}
.mytexr{
  background: #3494E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.profiletext h1{
  margin-top:60%;
  text-align: center;
  font-family: 'Playfair Display', serif;
}
.profiletext p{
  font-family: 'Playfair Display', serif;
text-align: center;
font-size: 20px;
font-weight: 700;
background: #3494E6;  /* fallback for old browsers */
background: #F3904F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
nav{
  
  background: #DCE35B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.firstsection{
  margin-top: 90px;
}
/* forimagecrousel */

.carousel-caption {
  /* top: 40%; */
  
}

.img-container {
   background-color: #000000;
 }
.img-container img { 
  opacity: 0.5; 
}
#mamphuli{
  font-size: 2vw;;
}

.carousel-caption  a p{
  color: white;
  font-size: 2vw;
  font-weight: bold;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: slidein;

  /*for firefox*/
  -moz-animation-duration: 3s;
  -moz-animation-name: slidein;

    /* for opera*/
  -o-animation-duration: 3s;
  -o-animation-name: slidein;

    /* Standard syntax*/
  animation-duration: 3s;
  animation-name: slidein;
  
}
@-webkit-keyframes slidein {
  from {
      margin-left: 100%;
      width: 300%;
  }

  to {
      margin-left: 0%;
      width: 100%;
  }
}

@-moz-keyframes slidein {
  from {

      width: 300%;
  }

  to {
      margin-left: 0%;
      width: 100%;
  }
}
@-o-keyframes slidein {
  from {
      margin-left: 100%;
      width: 300%;
  }

  to {
      margin-left: 0%;
      width: 100%;
  }
}
@keyframes slidein {
  from {
     
      width: 300%;
  }

  to {
     
      width: 100%;
  }
}

/* skilsection */

.hay {
  margin-top: 20px;

}

h2 {
  color: black;
}

.title {
  font-weight: bold;
  font-size: 20px;
  color: #db3a34;
}

.bar {
  width: 90%;
  height: 35px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  transition: all 2s linear;
}

.bar-1,
.my-skills {
  width: 80%;
  margin: 10px auto 25px;
}

.bar-inner {
  width: 0;
  height: 35px;
  line-height: 35px;
  background: #db3a34;
  border-radius: 5px 0 0 5px;
}
section{
  overflow: hidden;
}
.bar-percent {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 18px;
}

.aauda {
  background-image: url('../img/ee.jpg');
  height: 500px;
  background-attachment: fixed;
}
/* contactussection */
.mycimage{
  height: 500px;
    padding: 10px;
}
.contactus{
  background: #A770EF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  height: 820px;
}

@media only screen and (max-width: 600px) {
  .mycimage{
    height: 300px;
      padding: 10px;
  }
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contactcontainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* about */
.aboutmyself{
  border:2px solid tomato;
  width: 250px;
}
#myabout{
  font-size: 20px;
  text-align: justify;
  line-height: 1.9;
  margin-top: 30px;
  color: white;
}
.carding{
  background-image: url(../img/ff.jpg);
  background-attachment: fixed;
  border-radius: 10px;
}
/* mywork */
.cardins{
border-radius: 10px;
}
.ework{
  border: 2px solid tomato;
  width: 200px;
}
/* footer */

li{
  list-style: none;
 }

